/*
Commons colors (computed)
blue  65CEF5
green 72C177
orange F58D59
*/

#caco-modal{
/*    font-size: 1.2em;*/
}

#caco-modal:after {
  content: "";
  display: table;
  clear: both;
}


button, .modal-nav-button{
    background-color: #F58D59;
    background: #65CEf5;

/*    remove default stuff*/
        background: #65CEF5;

}
button a, button a:visited, .modal-nav-button a{
    text-decoration: none;
}

/* Top header */
.caco-modal-header {
    background-color: #72C177;
    font-size: 1.5rem;
    padding: 14px 20px 10px;
    padding: 1em;
    position: relative;
    overflow: hidden;
    color: #333;
    font-weight: 700;
}
.modal-close{
    top: 1em;
}


/*Bottom step indicators*/

/*here is what is tehre now*/
/*
.nav-indicator {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 5%;
    width: 90%;
}
.nav-indicator li {
    border: 1px solid #666;
    border-right: none;
    display: table-cell;
    float: left;
    list-style-type: none;
    text-align: center;
    padding: 8px;
    width: 33%;
}
.nav-indicator li.currentpanel {
    background-color: #72C177;
}
*/

.nav-indicator{
}
.nav-indicator li{
    border-right: 1px solid #666;
    float: none;
    display: block;
    width: auto;
}
.nav-indicator li.currentpanel {
    background-color: #72C177;
}

/*Make the three steps in a line at the breakpoint*/
@media screen and (min-width:700px){
   .nav-indicator{
        display: flex;
        justify-content: space-between
    }
    .nav-indicator li{
        border-right: 1px solid #666;
        flex-basis: auto;
        flex-grow: 1;
    }
}

.scrollbox {
    height: 200px;
    border: 1px solid #757575;
    overflow: scroll;
}

.scrollbox ul {
    margin: 0;
    padding: 0;
}

.scrollbox li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-weight: normal;
    font-size: .65rem;
    color: #757575;
    padding:5px 20px;
}

.scrollbox li:nth-of-type(even){
    background-color: #eee;
}

/*
=================
People page
=================
*/

.panel{
    margin-top: 2em;
}

.panel .panel-subsection{
/*
    background-color: #eee;
    padding: 15px;
*/
    padding-bottom: 2rem;
/*    margin-bottom: 1rem;*/
}
.panel .panel-subsection:first-child{
/*    padding-bottom: 1em;*/
    border-bottom: 1px solid #ccc;
}

.panel-subsection-invite-by-name {
    margin-top: 0; /*removing existing */
}

.panel-subsection input, .panel-subsection .invite-by-email-contenteditable{
        background-color: #fff;
    }

@media screen and (min-width:700px){
    .panel{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .panel .panel-subsection{
        box-sizing: border-box;
        width: 50%;
         background-color: #eee;
        padding: 15px;
    }
    .panel .panel-subsection:first-child{
        border-right: 2px solid #fff;
        border-bottom: none;
    }
    .panel .panel-subsection:nth-child(2){
        border-left: 2px solid #fff;
    }

    .panel .panel-subsection input, .panel .panel-subsection .invite-by-email-contenteditable{
        background-color: #fff;
    }
}



/*
=================
Membership page
=================
*/
.membership-items{
    margin-top: auto;
}

.membership-item-selector{
    display: block;
}

.membership-selector-gloss{
    display: flex;
/*    width: auto;*/
/*    width: 100%;*/
}
.membership-selector-gloss div{
/*    display: table-cell;*/
}
.membership-selector-gloss div:first-child{
    width: 70%;
}
.membership-selector-gloss div:nth-child(2){
    width: 30%;
    text-align: right;
}


/*
---------------------
Michael's tab styling
---------------------
*/
ul.tabs {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 0;

    background-color: #eaeaea;
    padding: 25px 10px 0px 10px;
}

.tabs-tab {
/*    margin-bottom: 20px;*/
/*    margin-right: 15px;*/
/*    margin: 0 25px 0 0;*/
    color: #65CEF5;
    padding: 5px 25px;
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: 3px solid #eaeaea;
}

.tabs-tab:hover{
    border-bottom: 3px solid #65CEF5;
    cursor: pointer;
}

.tab-selected {
/*    font-weight: bold;*/
/*    border-bottom: 3px solid #2db4db;*/
/*    color: #2db4db;*/
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #fff;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.form-part {
    display: flex;
    flex-direction: column;
}

.not-visible {
    display: none;
}


/*
=================
Confirmation page
=================
*/

.confirm{
    background-color: #eee;

}
.confirm:after {
  content: "";
  display: table;
  clear: both;
}
.confirm-message{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 2em;
    background-color: #fff;
}
.confirm-message h2{
    font-size: 2em;
}

.confirm-check{
    color: blue; /* change to commons blue */
    font-size: 9em;

}
.confirm-check img{
    width: 20%;
}
.confirm-actions{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.confirm-action{
    box-sizing: border-box;

    padding: 2em;
    font-size: 1.2em;

    display: flex;
    flex-flow: column nowrap;
}

@media screen and (min-width:700px){
/*    break action buttons into two columns*/
    .confirm-action{
        flex-basis: 50%;
    }

    .confirm-action:first-child{
        border-right: 2px solid #fff;
    }
    .confirm-action:nth-child(2){
        border-left: 2px solid #fff;
    }
}

.confirm-action button{

    margin-top: auto;/*    this keeps the button on the bottom */
    padding: .5em;
    font-size: 1em;
}

/*
.confirm-action button{
    text-align: center;
    margin: 0 auto;
}*/
